<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenido al Sistema</title>
  <link rel="stylesheet" href="./css/index.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="/usuarios">Gesti칩n de Usuarios</a></li>
        <li><a href="/escritores">Gesti칩n de Escritores</a></li>
      </ul>
    </nav>
  </header>
  <section class="cascade-images">
    <img src="https://png.pngtree.com/background/20230522/original/pngtree-computer-store-in-a-black-and-white-setting-picture-image_2686042.jpg" alt="Imagen 1">
    <img src="https://get.pxhere.com/photo/black-and-white-computer-from-above-hands-laptop-paper-schedule-work-1529061.jpg" alt="Imagen 2">
    <img src="https://image.freepik.com/vector-gratis/resumen-comunicaciones-o-tecnologia-puntos-conectados-sobre-fondo-negro_51543-650.jpg" alt="Imagen 3">
  </section>
    <section class="welcome-section">
      <div class="welcome-container">
        <h1>Bienvenido al Sistema de Gesti칩n</h1>
        <p>En esta plataforma, podr치s gestionar tanto usuarios como escritores. Selecciona una de las opciones de arriba para empezar.</p>
      </div>
    </section>
  </main>
</body>
</html>
